body{
    background-image: url('gplaypattern/gplaypattern.png');;
    background-color: #558ED3;
}

/* .bodyBackground{
    background-image: url('gplaypattern/gplaypattern.png');
} */

.changeBtn{
    padding: 1%;
    background-color: rgba(233, 194, 3, .65);
    margin: 1%;
    width:  250px;
    border-radius: 5px;
}